modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

run = "python3 main.py & gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"

[deploy]
run = "python3 main.py & gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080
